@import '../../styles/global/mixins';
@import '../../styles/global/variables';

.blogs{
    grid-column: flush-start / flush-end;
    background: #F9FCFF;
    padding: 10rem 0;
    border-top: 1px solid #b9b9fc;

    .container{
        display: grid;
        grid-template-columns: minmax(min-content, 500px);

        @include breakpoint(sm){
            grid-template-columns: 1fr;
        }

        p.blog__copy{
            margin-top: -2rem;
            margin-bottom: 4rem;
        }
    }

    &__grid{
        display: grid;
        grid-row-gap: 4rem;
    }


    .blog{
        p.blog-title{
            margin-bottom: .7rem;
            color: #353A47;
            font-weight: 700;
            font-size: 2.2rem;
        }

        a{
            // width: 100%;
            // overflow: hidden;
            // white-space: nowrap;
            // text-overflow: ellipsis;
        }
    }
    
}