@mixin ResetLink(){
    color: inherit;
    text-decoration: none;
}

@import '../../styles/global/variables';

.header{
    border-top: 3px solid $color-primary;
    grid-column: flush-start / flush-end;
    height: 100%;
    background-image: linear-gradient(rgba(black, .6), rgba(black, .8)), url('../../assets//images/header_background.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 1rem 2rem rgba(black, .2);
    color: white;

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }

    &__name-tag{
        h1{
            font-size: 4rem;
            margin-bottom: 1rem;
        }

        p{
            font-size: 2rem;
            font-weight: 300;
            line-height: 2.5rem;
        }
    }

    &__actions{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(min-content, 10rem) );
        width: 100%;
        justify-content: center;
        margin-top: 8rem;
    }

    .action{
        @include ResetLink();
        display: flex;
        flex-direction: column;
        text-align: center;
        transition: 150ms ease-in-out;
        transform: translateY(0);

        &:hover{
            transform: translateY(-1rem);
            color: $color-primary;
        }

        i {
            font-size: 2rem;
        }

        span {
            margin-top: 1rem;
            font-size: 1.8rem;
            font-weight: 300;
        }
    }
}