@import '../../styles/global/variables';


@keyframes Slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.technologies-bar {
    grid-column: flush-start / flush-end;
    height: 100%;
    box-shadow: 0 1rem 3rem rgba(black, .1);
    position: relative;
    padding: 3rem;
    //overflow-x: scroll;
    
    
    
    .container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        white-space: nowrap;

    }
    

    &__image{
        display: block;
        height: 3.5rem;
        width: auto;

        &:not(:last-child){
            margin-right: 8rem;
        }
    }
}

